body {
    background-color: #f3a11f;
    color: #f0f5f8;
    font-family: sans-serif;
}

header {
    color: #20a154;
    font-size: 50px;
}

p {
    font-size: 25px;
}

h1 {
    font-size: 40px;
}

h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}

.chamada {
    color: #f0f5f8;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    /* torna flexivel = põe um do lado do outro */
    justify-content: center;
    /* centralizar */
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#f3a11f, #f0f5f8);
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    /* permite rolagem horizontal automática quando o  conteúdo exceder a largura da tela */
    gap: 10px;
    /* adiciona espaçamento entre os elementos*/
}